<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 style="color: #ea2340">Let the car work.</h2>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <br>

      <h3>Location</h3>


      <form>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Country</option>
            <option>2</option>
          </select>

        </div>
        <div class="form-group">

          <input type="email" class="form-control" style="border-radius: 0" id="inputEmail4" placeholder="Street">
        </div>

        <div class="form-group">

          <input type="email" class="form-control" style="border-radius: 0" id="inputEmail4" placeholder="City">
        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>State/Region/Province</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <input type="email" class="form-control" style="border-radius: 0" id="inputEmail4" placeholder="ZIP">
        </div>

        <br><br>


        <h2 class="contact-title">Car details</h2>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Make</option>
            <option>2</option>
          </select>

        </div>
        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Model</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Year</option>
            <option>2</option>
          </select>

        </div>


        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Engine</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Fuel</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Transmission</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>WD</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Horse Power</option>
            <option>2</option>
          </select>

        </div>

        <div class="form-group">

          <select class="form-control" style="border-radius: 0" id="inputEmail4">
            <option value="" disabled selected>Fuel Consumption</option>
            <option>2</option>
          </select>

        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="inputEmail4">About</label>
          <textarea class="form-control" style="border-radius: 0" rows="5" cols="50" id="inputEmail4"
            placeholder="About (max 500 words.)"></textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="inputEmail4">Features</label>
          <input type="text" class="form-control" style="border-radius: 0" id="inputEmail4" placeholder="Type features">
        </div>
        <br>
        <div class="form-group">
          <label for="inputEmail4">Price Per Day</label>
          <input type="text" class="form-control" style="border-radius: 0" id="inputEmail4" placeholder="Price">
        </div>
        <br>

        <button type="submit" class="btn" style="background: #ea2340; color: white; border-radius: 0">Submit</button>
      </form>
    </div>

    <div class="col-md-6">

    </div>
  </div>
</div>
