<div
  style="background-image :url('assets/img/footer.png');">
  <!--p>asdasdadasdasd</p-->
  <!--img src="../../../assets/img/footer.png" style="width: 100%"-->
  <div style="padding: 20px; margin-top: 5%;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <p style="color: white">
            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit.
          </p>

          <br>
          <br>
          <br>

          <h2 style="color: white">THE ULTIMATE <br> CAR RENTAL SERVICE</h2>


        </div>
        <div class="col-md-6" style="margin-top: 10px">
          <div class="row" style="flex : 1; flex-direction: row; justify-content: flex-end">
            <div style="margin-right: 20px">
              <i class="fab fa-facebook-square" style="color: white;"></i>
            </div>

            <div style="margin-right: 20px">
              <i class="fab fa-telegram" style="color: white;"></i>
            </div>

            <div style="margin-right: 20px">
              <i class="fab fa-vk" style="color: white;"></i>
            </div>

            <div style="margin-right: 20px">
              <i class="fab fa-instagram" style="color: white;"></i>
            </div>

            <div style="margin-right: 20px">
              <i class="fab fa-slack-hash" style="color: white;"></i>
            </div>
          </div>



          <div class="row" style="flex : 1; flex-direction: row; justify-content: flex-end; margin-top: 20px">
            <div style="margin-right: 20px">
              <span><a [routerLink]="[ '/search']" style="color: white;">Search</a></span>
            </div>

            <div style="margin-right: 20px">
              <span><a [routerLink]="[ '/car-work']" style="color: white;">Let the car work</a></span>
            </div>

            <div style="margin-right: 20px">
              <span><a [routerLink]="[ '/tou']" style="color: white;">Terms of use</a></span>
            </div>

            <div style="margin-right: 20px">
              <span><a [routerLink]="[ '/signup']" style="color: white;">Signup</a></span>
            </div>

            <div style="margin-right: 20px">
              <span><a [routerLink]="[ '/signin']" style="color: white;">Login</a></span>
            </div>
          </div>

          <hr style="margin-top: 20px; border-color: white;" />

          <div class="row" style="margin-top: 20px">
            <div class="col-md-6">
              <h6 style="color: white">TOP CITIES</h6>
              <div class="row">
                <div class="col-md-6">
                  <p style="color: white">New-York<br>
                    Tokyo<br>
                    Paris<br>
                    London<br>
                    Los Angeles
                </div>
                <div class="col-md-6">
                  <p style="color: white">Vienna<br>
                    Moscow<br>
                    Warsaw<br>
                    Berlin<br>
                    Seattle
                  </p>

                </div>
              </div>
            </div>

            <div class="col-md-6">

              <h2 style="color: white; float: right;">08-616-8800-55</h2>

              <br>
              <br>
              <br>
              <br>




              <span style="color: white; float: right; ">1600 Amphitheatre Pkwy</span>
              <span style="color: white; float: right;">Mountain View, CA 94043, USA</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
