<!--div
  style="background-image :url('https://firebasestorage.googleapis.com/v0/b/soopa-21484.appspot.com/o/2.png?alt=media');"-->
  <div
  style="background-image :url('assets/img/2.png');">
  <div  class="container" style="padding: 20px">
    <!-- Footer Start-->
    <!--div class="footer-area"-->
    <div class="row" style="margin-top: 60px">
      <div class="col-md-4 my-auto">
        <h2 style="color: white; font-weight: bold">NEVER MISTAKEN <br>FOR ANYTHING ELSE</h2>


      </div>
      <div class="col-md-5">


        <p style="color: white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has
          been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries.
          </p>
      </div>
      <div class="col-md-3">
        <h4 style="color: #ea2340; align-self: center">Affordable prices<br>Guranteed cars</h4>
        <button class="btn" style="background: #ea2340; color: white; border-radius: 0">Join Now!</button>
      </div>

    </div>
  </div>
</div>
