<div style="margin-top: 5%">
  <h3 style="margin-left: 10%; font-weight: bold">
    LATEST FEEDBACKS <br>FROM OUR CUSTOMERS
  </h3>

  <div class="row" style="margin-top: 1%; margin-left: 8%; margin-right: 8%">
    <div class="col-md-6">
      <div class="card" style="flex:1; flex-direction: row; justify-content: center">
        <div class="card-image">
          <img src="../../../assets/img/test.png" alt="Avatar" style="border-radius: 50%; padding: 10px">
        </div>
        <div class="card-body">
          <p>
            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard

          </p>

          <div class="row">
            <div class="col-md-6">
              <span style="color:#ea2340; font-weight: bold">Candy Miles</span>
            </div>
            <div class="col-md-6">
              <span>December 12th 2019</span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-6">

      <div class="card" style="flex:1; flex-direction: row; justify-content: center">
        <div class="card-image">
          <img src="../../../assets/img/test.png" alt="Avatar" style="border-radius: 50%; padding: 10px">
        </div>
        <div class="card-body">
          <p>
            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard

          </p>

          <div class="row">
            <div class="col-md-6">
              <span style="color: #ea2340; font-weight: bold">Candy Miles</span>
            </div>
            <div class="col-md-6">
              <span>December 12th 2019</span>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="row" style="margin-top: 1%; margin-left: 8%; margin-right: 8%">
    <div class="col-md-6">
      <div class="card" style="flex:1; flex-direction: row; justify-content: center">
        <div class="card-image">
          <img src="../../../assets/img/test.png" alt="Avatar" style="border-radius: 50%; padding: 10px">
        </div>
        <div class="card-body">
          <p>
            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard

          </p>

          <div class="row">
            <div class="col-md-6">
              <span style="color: #ea2340; font-weight: bold">Candy Miles</span>
            </div>
            <div class="col-md-6">
              <span>December 12th 2019</span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-6">

      <div class="card" style="flex:1; flex-direction: row; justify-content: center">
        <div class="card-image">
          <img src="../../../assets/img/test.png" alt="Avatar" style="border-radius: 50%; padding: 10px">
        </div>
        <div class="card-body">
          <p>
            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard

          </p>

          <div class="row">
            <div class="col-md-6">
              <span style="color: #ea2340; font-weight: bold">Candy Miles</span>
            </div>
            <div class="col-md-6">
              <span>December 12th 2019</span>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
