<div class="row" style="margin-bottom: 10px">
  <div class="col-md-8">
    <div class="row" style="padding-left: 20px">
      <div class="col-sm-6 align-self-center">

        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <span class="card-notify-badge">$ <span style="color:#062639; font-size: 25px">230</span></span>
            <img class="card-img-top" src="../../../assets/img/signin.jpg" alt="Card image cap">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Lamborghini Aventador</h5>

          </div>


        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <span class="card-notify-badge">$ <span style="color: #062639; font-size: 25px">230</span></span>
            <img class="card-img-top" src="../../../assets/img/signin.jpg" alt="Card image cap">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Lamborghini Aventador</h5>

          </div>


        </div>
      </div>


    </div>
    <div class="row" style="margin-top: 20px; padding-left: 20px">
      <div class="col-sm-6 align-self-center">

        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <span class="card-notify-badge">$ <span style="color: #062639; font-size: 25px">230</span></span>
            <img class="card-img-top" src="../../../assets/img/signin.jpg" alt="Card image cap">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Lamborghini Aventador</h5>

          </div>


        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <span class="card-notify-badge">$ <span style="color: #062639; font-size: 25px">230</span></span>
            <img class="card-img-top" src="../../../assets/img/signin.jpg" alt="Card image cap">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Lamborghini Aventador</h5>

          </div>


        </div>
      </div>


    </div>
  </div>
  <div class="col-md-4">
    <h2 style="color: #ea2340">Find your car now!</h2>


    <form style="padding-right: 20px">

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Make</option>
          <option>2</option>
        </select>

      </div>
      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Model</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Year</option>
          <option>2</option>
        </select>

      </div>


      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Engine</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Fuel</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Transmission</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>WD</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Horse Power</option>
          <option>2</option>
        </select>

      </div>

      <div class="form-group">

        <select class="form-control" style="border-radius: 0" id="inputEmail4">
          <option value="" disabled selected>Fuel Consumption</option>
          <option>2</option>
        </select>

      </div>
      <br>

      <button type="submit" class="btn" style="background: #ea2340; color: white; border-radius: 0">Search</button>
    </form>
  </div>
</div>
