<div class="container">
  <div class="row" style="margin-top: 5%">
    <div class="col-md-6 my-auto">
      <h2 style="margin-left: 10%; font-weight: bold">
        <span id="dropcap" style="color: #ea2340">3</span> MOST POPULAR <br>CHOICES IN YOUR AREA.
      </h2>
    </div>
    <div class="col-md-6">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with</p>
    </div>

  </div>
</div>

<div style="margin-top: 5%; background-image: url('assets/img/frame.png'); overflow-x: hidden">
  <div class="flex-row d-flex justify-content-center align-items-center">

    <app-popular-car *ngFor="let i of imageDetails" image="{{i.path}}" left="{{i.left}}" car_name="{{i.name}}"
      price="{{i.price}}">
    </app-popular-car>

  </div>
