<div class="container">
  <div class="row" style="margin-top: 5%">
    <div class="col-md-6 my-auto">
      <h2 style="margin-left: 10%; font-weight: bold">
        <span id="dropcap" style="color: #ea2340">3</span> MOST POPULAR <br>CHOICES IN YOUR AREA.
      </h2>
    </div>
    <div class="col-md-6">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with</p>
    </div>

  </div>
</div>

<div class="row" style="margin-top: 5%">
  <img class="img" src="../../../assets/img/cars.jpg" width="100%" height="500" />
  <div class="card-notify-badge " style="padding: 10px; left: 1000px;
        top: 1520px;">
    <div style="background: #ea2340; padding: 10px">
      <span style="color: white">Lamborghini</span>
    </div>
    <div>
      <span>$ <span style="color: #ea2340; font-size: 25px">230</span></span>
    </div>


  </div>

  <div class="card-notify-badge" style="padding: 10px; left: 500px;
        top: 1520px;">
    <div style="background: #ea2340; padding: 10px">
      <span style="color: white">Lamborghini</span>
    </div>
    <div>
      <span>$ <span style="color: #ea2340; font-size: 25px">230</span></span>
    </div>


  </div>

  <div class="card-notify-badge" style="padding: 10px; left: 40px;
          top: 1520px;">
    <div style="background: #ea2340; padding: 10px">
      <span style="color: white">Lamborghini</span>
    </div>
    <div>
      <span>$ <span style="color: #ea2340; font-size: 25px">230</span></span>
    </div>


  </div>

</div>
